@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour:#63adcf;
  --fuchsia-200: #63adcf;
}
.bg-primary {
  background-color: var(--primary-colour);
}

.bg-fuchsia-200 {
  background-color: var(--fuchsia-200);
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
